node_modules
config/config.env
config/channels.json
config/reportEvents.json
config/listenEvents.json
package-lock.json
src/sandbox/index.js
est.json
src/files/attachmentsIndex.json
src/files/downloads
**/*.db
