node_modules
package-lock.json

config/config.env
config/channels.json
config/reportEvents.json
config/listenEvents.json

internals/cache

src/sandbox/index.js
src/files/attachmentsIndex.json
src/files/downloads

**/*.db